<div class="container">
	<footer class="footer">
		<div class="container-fluid">
    	<div class="row">
		 		<div class="col-xs-12">
            <a href="#" class="thumbnail">
						<%= image_tag('banner.jpg',  :size => "fill")%>
						</a>
				</div>
			</div>
		</div>					
	</footer>
</div>		

